/* Global styles */

body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}

h1 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 48px;
}

h2 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 36px;
}

h3 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 24px;
}

p {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
}

img {
  max-width:100%;
  max-height:100%;
}

a {
  color: #4F357A;
}

a:hover {
  color: #4F357A;
}

.row {
  width: 100%;
  margin-left: 0;
}

/* Buttons */

.btn-primary {
  background-color: #4F357A;
  border: 0px solid transparent;
  padding: 20px 50px;
  color: white;
}

.btn-primary:hover {
  background-color: #4F357A;
  border-color: #4F357A;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

.submit {
  padding: 7.5px 15px;
}

/* Other */

#landing-page {
  height: 100vh;
  background-color: #4F357A;
  color: white;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.enghack {
  padding-top: 30vh;
  font-family: 'Righteous';
  font-size: 82px;
  display: inline-flex;
}

.landing-logo {
  display: none;
}

#mlh-logo {
  position: absolute;
  top: 0;
  right: 2.5%;
  z-index: 9999;
}

.about-page {
  padding-top: 15%;
}

#about-image-desktop {
  content: url("../assets/about_desktop.png");
  width: 100%;
}

#about-image-mobile {
  display:none;
}

.wire-divider-right {
  margin: 5% 0;
  float: right;
}

.wire-divider-left {
  margin: 5% 0 ;
}

#sponsors > .container, #faq > .container {
  text-align: left;
}

.gold-tier {
  width: 75%;
  margin: 0 auto;
}

.gold-tier > p {
  text-align: center;
}

.silver-tier {
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
}

.bronze-tier {
  text-align: center;
  margin-bottom: 7.5%;
}

.past-sponsors {
  text-align: center;
  overflow-x: scroll;
  overflow-y: auto;
}

.past-sponsors > a {
  display: flex;
  vertical-align: middle;
  justify-content: center;
}

.past-sponsors > a > img {
  width: 75%;
  height: 75%;
}

.sponsorship-package {
  width: 50%;
  margin: 5% auto 0 auto;
}

.faq-page {
  padding-top: 5%;
}

.card-header {
  text-align: left;
  background-color: rgba(0,0,0,0.05);
  border: none;
  cursor: pointer;
  margin-bottom: 0 !important;
}

.collapsed {
  background-color: rgba(0,0,0,0);
}

.collapsed > h3 > .chevron {
  content: url("../assets/chevron-down.png");
}

.card-body {
  text-align: left;
}

.faq-card {
  border: none;
  border-left: 5px #4F357A solid;
  border-radius: 3px !important;
  margin-top: 50px;
}

.collapsing {
  background-color: rgba(0,0,0,0.05);
}

.show {
  background-color: rgba(0,0,0,0.05);
}

.chevron {
  width: 5%;
  float: right;
}

.navbar {
  border: none !important;
  margin-bottom: 0 !important;
  padding-left: 5%;
  position: fixed;
  top: 0;
  transition: top 0.3s;
}

.navbar-brand {
  margin-right: 0;
  width: 125px;
}

.navbar-custom {
  background-color: #372555 !important;
  font-family: 'Didact Gothic', sans-serif;
}

.navbar-toggler {
  border: none;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-nav > li{
  text-align: left;
  font-size: 24px;
  padding-left: 15px;
  padding-right: 15px;
}

#contact {
  background-color: #4F357A;
}

.footer-card {
  text-align: left;
  margin-top: 15%;
  margin-bottom: 2.5em;
  padding-top: 7.5%;
  padding-left: 5%;
  height: 75%;
}

.engsoc-logo {
  width: 10%;
  height: 10%;
}

.wires {
  position: absolute;
  z-index: -10000;
}

.wires-tablet {
  display: none;
}

.path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  -webkit-animation: dash 5s infinite linear;
  animation: dash 5s infinite linear;
}

/* Mobile */

@media only screen and (max-width: 768px) {
  .container {
    text-align: center;
  }

  #about {
    margin: 0;
  }

  .hide-mobile {
    display: none;
  }

  .wire-divider-right {
    margin-top: 10%;
    width: 75%;
  }

  .wire-divider-left {
    margin-top: 10%;
    width: 75%;
  }
  
  #newsletter-form {
    justify-content: center;
  }

  #about-image-desktop {
    display: none;
  }

  #about-image-mobile {
    display: inline-block;
    width: 75%;
  }

  .sponsorship-package {
    width: 100%;
  }

  .navbar {
    padding-left: 2%;
  }

  .navbar-nav > li{
    text-align: left;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .footer-card {
    margin-bottom: 5%;
  }

  .engsoc-logo {
    width: 15%;
    height: 15%;
  }

  .wires-tablet {
    display: inline-block;
  }
}

@media only screen and (max-width: 425px) {
  h1 {
    font-size: 32px;
  }

  h3 {
    font-size: 18px;
  }

  .enghack {
    display: none;
  }

  .landing-logo {
    display: inline-block;
    margin-top: 50%;
  }

  .hide-mobile-sm {
    display: none;
  }
  .newsletter-card {
    display: none;
  }

  .engsoc-logo {
    width: 25%;
    height: 25%;
  }

  .wires-tablet {
    display: none;
  }

  .past-sponsors > div {
    margin-bottom: 10%;
  }

  .past-sponsors > div > img {
    width: 100%;
    height: 100%;
  }
}

/* Animations */

.typewriter {
  font-family: 'Righteous';
  padding-top: 0.15em;
  font-size: 1em;
  overflow: hidden;
  border-right: 0.15em solid white;
  white-space: nowrap;
  animation: 
    typing 2s,
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}